* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./imagens/bg-mobile-light.jpg) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: black;
}

/* Textos Titulo/subtitulo */

h1, h3, p {
    text-align: center;
}

/* Caixa vertical */
#container {
    width: 100%;
    max-width: 400px; /* ou qualquer valor desejado */
    margin: 0px auto 0px;
    padding: 0 24px;
}

/* Alinhamento da imagem avatar */
#profile {
    text-align: center;
}

/* Tamanho da imagem avatar */
#profile img {
    width: 122px;
}

/* links */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

/* imagem dentro das caixas */

ul li a .icon {
    width: 75px; /* Ajuste conforme necessário */
    height: 75px; /* Ajuste conforme necessário */
    border-radius: 5%; /* Faz com que a imagem seja circular, ajuste conforme necessário */
}

ul li a.tipo1 .icon {
    background-image: url(./imagens/programa-smv.jpeg);
    background-size: cover;
    background-position: center;
}

ul li a.tipo2 .icon {
    background-image: url(./imagens/guia-emagrecimento.png);
    background-size: cover;
    background-position: center;
}

ul li a.tipo3 .icon {
    background-image: url(./imagens/atendimento.png);
    background-size: cover;
    background-position: center;
}

ul li a.tipo4 .icon {
    background-image: url(./imagens/consultoria.png);
    background-size: cover;
    background-position: center;
}

/* animação dos links */

ul li a:hover {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid white;
}

/* social links */

#social-links{
    display: flex;
    justify-content: center;
    padding: -5px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background:rgba(0, 0, 0, 0.1);
}

/* Footer */

Footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
    :root {
      --bg-url: url(./assets/bg-desktop.jpg);
    }
  
    .light {
      --bg-url: url(./assets/bg-desktop-light.jpg);
    }
  }
  
  /* animation */
  @keyframes slide-in {
    from {
      left: 0;
    }
    to {
      left: 50%;
    }
  }
  
  @keyframes slide-back {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }